





h1, h2, h3, h4 {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

section {
  padding: 50px 0 50px;
  overflow: hidden;
  max-width: 100%
  /*display: table;
  width: 100%;
  height: 100vh;*/
}

.menu__item a {
  /*color: #004868 !important;*/
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700 !important;
}

.header {
  background: url(../images/bg_12.jpg) no-repeat center center;
  /*width: 100%;*/
  height: 100vh;
  display: table;
  width: 100%;
  /*height: 100vh;*/
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.title {
  padding: 250px 0;
  color: #fff;
  width: 600px;
}

.title__heading {
  color: #fff;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.title__desc {
  font-size: 25px;
  font-family: 'Sintony', sans-serif;
}

.about {
  background: #B0D074;
}

.block {
  height: 600px;
}

.black {
  background: #383838;
}

.green {
  background: #B9D684;
}

.block__img {
  padding: 60px 0 40px;
  text-align: center;
}

.block__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.block__description  {
  color: #fff;
  padding: 20px 30px;
  text-align: center;
  font-size: 15px;
}

span {
  color: #BAB6AD;
}

.products {
  background: #99B565;
}

.products__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}

.products__picture {
  background: url(../images/second_bg.jpg) no-repeat center center;
  height: 235px;
  margin: 30px 0 50px;
}

.text__title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.text__desc {
  color: #fff;
  padding: 25px 50px 0 0;
  font-size: 15px;
}

.accessories {
  background: #B0D074;
}

.accessories__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 30px;
}

.accessories__piсture {
  margin-bottom: 20px;
}

.skins {
  
}

.skins__title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0;
}

.skins__desc {
  color: #fff;
  /*padding: 25px 50px 0 0;*/
  font-size: 15px;
}

.contacts {
  background: #383338;
}

.contacts-logo {
  padding-top: 120px;
  width: 200px;
}

.contacts__title {
  color: #fff;
  text-align: center;
}

 .contacts__form label, input, textarea{
  /*text-align: right;*/
  /*background: #fff;*/
  font-size: 12px;
  color: #898989;
  font-family: 'PT Sans', sans-serif;
  border-radius: 10px;
  width: 300px;
  padding: 10px 0;
  padding-left: 5px;
  margin-right: 20px;
  border: 0;
  /*padding-left: 23px;*/
  outline: none;
}

.cnopka {
  background: #99B565;
  font-size: 16px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  width: 300px;
  padding: 5px 0;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.inde {
  padding-top: 100px;
}

/*media queries*/







